.list-page {
  tbody {
    display: block;
    max-height: 400px;
    overflow: auto;
  }
  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  thead {
    width: calc(100% - 1em);
  }
}

.field-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon {
  margin-right: 10px !important;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    color: #3e3e3e;
  }
}

.add-user-btn {
  font-weight: 400 !important;
}

.list-page-title {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
